<% 
=begin %>

<!--><script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSP7DBzAh-_YxOWF270KAPgHZtwYoUxBE&sensor=true&height=400"></script>
<h1>Places#index</h1>
<p>Find me in app/views/places/index.html.erb</p>
-->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="map-canvas well" id="map-canvas" style="width: 500px; height: 400px; background:black;"></div>
		
	</div>

</div>

<% 
=end %>

<%= javascript_include_tag "custom" %>

<h1>Beautiful Places</h1>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="map-canvas span8" id="map-canvas" style="min-width: 500px; min-height: 700px;">
			
			<%= gmaps4rails(@json) %>
		</div>
		<div class="span4 well"></div>
	</div>



</div>
